@model IEnumerable<Message>

@{
    ViewData["Title"] = "Messages";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <ul class="list-group list-group-flush align-items-center">
        @foreach (var message in Model)
        {
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@message.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@message.Author</h6>
                        @Html.ActionLink("Details", "Detail", "Messages", new { id = @message.ID }, new { @class = "btn btn-outline-primary" })
                        <!--Alternative syntax
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Messages" asp-action="Detail" asp-route-id=@message.ID>Details (again)</a>-->
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
